{% load static %}
<br>
<div class="row">
    <div class="col-lg-2">
        <img src="{% static 'images/111.png' %}" class="rounded" alt="Cinque Terre"
                    width="100px" height="100px">
    </div>
    <div class="col-lg-8">
        <h1 class="text-center">สวัสดียินดีต้อนรับเข้าสู่เว็บไซต์</h1>
    </div>
    <div class="col-lg-2">
        <img src="{% static 'images/111.png' %}" class="rounded" alt="Cinque Terre"
                    width="100px" height="100px">
    </div>
</div><br>