{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 class="text-center">สิ่งที่สนใจ</h1>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'images/ka.jpg' %}"
                     width="100%" height="100%">
            </div>
            <div class="col-lg-8">
                <h3>สนใจการทำธุรกิจ ร้านกาแฟสด</h3>
                <h4>เพราะเป็นธุรกิจที่กำลังเป็นที่นิยม: เพราะคนหันมาดื่มกาแฟกันมากขึ้น ซึ่งส่วนใหญ่นิยมดื่มกาแฟสด เพราะให้รสชาติดีกว่า หอมกว่า</h4>
                <h4>สร้างกำไรจากเมนูอื่นๆ ได้ : แม้ว่าต้นทุนกาแฟสดจะสูงกว่ากาแฟสำเร็จรูป แต่การที่ร้านคุณมีภาพลักษณ์ว่าจำหน่ายกาแฟสด ทำให้สามารถตั้งราคาเมนูอื่นๆ
                สูงขึ้นได้ด้วย เช่น ถ้าคุณขายโกโก้ในร้านทั่วไป อาจจะขายได้แก้วละ 20-30 บาท แต่ถ้าขายในร้านกาแฟสดก็ตั้งราคาได้สูงกว่านั้น เช่น 40 บาทขึ้นไป ทั้งๆ
                ที่ต้นทุนวัตถุดิบอาจจะเท่าเดิม</h4>
            </div>
        </div>
    </div><br>
{% endblock %}