{% load static %}
<br>
<ul class="list-group">
    <li class="list-group-item active"><h4>Menu:</h4></li>
    <li class="list-group-item"><a href="/"><h5>หน้าหลัก</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/secondPage"><h5>ประวัติส่วนตัว</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/thirdPage"><h5>ประวัติการศึกษา</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/fourthPage"><h5>สิ่งที่สนใจ</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/fivePage"><h5>สินค้า</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/sixthPage"><h5>บุคคลต้นแบบ</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/product">
        <h5>รายการสินค้า<span class="badge bg-danger">NEW</span></h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/showMyData"><h5>Show MyData</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/inputProduct"><h5>inputProduct</h5></a></li>
    <li class="list-group-item"><a href="/ProfileApp/listProduct"><h5>listProduct</h5></a></li>
</ul>