{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 class="text-center">รายการสินค้า</h1>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'images/kaka.jpg' %}"
                     width="100%" height="100%">
            </div>
            <div class="col-lg-8">
                <h3>อยากเปิดร้านกาแฟเป็นของตัวเอง</h3>
                <h4>เพราะเป็นคนที่ชอบความสงบสบาย เวลาไปร้านกาแฟแล้วรู้สึกสบายใจทำให้ไม่เครียดกับหลายๆเรื่อง เพราะภายในร้านมีการจัดร้านที่ดีมีต้นไม้มีที่นั่งพักผ่อน
                พนักงานดูแลเอาใจใส่ดี และมีกลิ่นหอมของกาแฟต่ละชนิดอบอวนทั่วร้าน ออกมานอกร้านก็มีธรรมชาติล้มรอบ จึงทำให้อยากเปิดร้านกาแฟเป็นของตัวเอง</h4>
            </div>
        </div>
    </div><br>
{% endblock %}