{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-white text-dark rounded">
        <h1 class="text-center">ประวัติการศึกษา</h1>
        <div class="row">
            <div class="col-lg-3">
                <img src="{% static 'images/st1.png' %}"
                     width="100%" height="100%">
            </div>
            <div class="col-lg-3">
                <img src="{% static 'images/nkk.png' %}"
                     width="100%" height="100%">
            </div>
            <div class="col-lg-3">
                <img src="{% static 'images/sts1.png' %}"
                     width="100%" height="100%">
            </div>
            <div class="col-lg-3">
                <img src="{% static 'images/kvc2.png' %}"
                     width="100%" height="100%">
            </div>
            <div class="row">
                <div class="col-lg-3"><br>
                    <h4>ชั้นประถมศึกษา</h4>
                    <h5>จบจากโรงเรียนบ้านสาวะถี (สาวัตถีราษฎร์รังสฤษฎิ์) ตั้งแต่ชั้นอนุบาล1 ไปจนถึง
                        ชั้นประถมศึกษาปีที่6</h5>
                </div>
                <div class="col-lg-3"><br>
                    <h4>ชั้นมัธยมศึกษาตอนต้น</h4>
                    <h5>จบจากโรงเรียนนครขอนแก่น ศึกษาตั้งแต่ชั้นมัธยมศึกษาตอนต้นปีที่1ไปจนถึงชั้นปีที่3</h5>
                </div>
                <div class="col-lg-3"><br>
                    <h4>ชั้นมัธยมศึกษาตอนปลาย</h4>
                    <h5>จบจากโรงเรียนสาวะถีพิทยาสรรพ์ ศึกษาตั้งแต่ชั้นมัธยมศึกษาตอนปลายปีที่4ไปจนถึงชั้นปีที่6</h5>
                </div>
                <div class="col-lg-3"><br>
                    <h4>ระดับปวส</h4>
                    <h5>จบจากวิทยาลัยอาชีวศึกษาขอนแก่น ศึกษาในระดับประกาศนียบัตรวิชาชีพชั้นสูง
                        สาขาวิชาเทคโนลยีสารสนเทศ</h5>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br>
{% endblock %}